@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

.card {
  display: inline-flex;
  width: 25rem;
  height: 35rem;
  margin-top: 3rem;
  border-radius: 2rem;
  background-color: white;
  border: 2px solid black;
}
.topSymbol {
  display: flex;
  justify-content: flex-start;
  font-size: 60px;
}

.centerNumber {
  margin-top: 6rem;
  margin-bottom: 5rem;
  font-size: 60px;
}
.bottomSymbol {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
  font-size: 60px;
}

.btn {
  margin-right: 5rem;
  margin-bottom: 1rem;
  float: right;
}
